Neighbours are indexed by (address, interface)

The Babel protocol is designed to deal gracefully with topologies such as this:
```
  __
 /  \
A    +--B
 \__/    
```
Here, A is a node with two interfaces, while B has just one interface.  Both of A's interfaces are connected to the same switch (or associated to the same WiFi network).

In this situation, B's interface must appear twice in A's neighbour table: once over each of A's interfaces.  Hence, neighbourship is a relation between interfaces, and the neighbour table is indexed by pairs (address, outgoing interface).  See [RFC 8966 Section 3.2.4](https://www.rfc-editor.org/rfc/rfc8966.html#name-the-neighbour-table).

This contradicts your definition of the neighbour table (https://github.com/stv0g/go-babel/blob/master/neighbour_table.go#L13), which appears to be keyed by addresses.

Hi @jech,

I am maintaining a separate neighbour tables for each interface: https://github.com/stv0g/go-babel/blob/master/interface.go#L39

Hence, the neighbours are in fact indirectly indexed by interface & address.

However, I am now confused whether:
- `A` is now dealing with two neighbours representing `B`
- `B` is just maintained as a single neighbour which can be looked up via either of `A` interfaces

I would argue that the first case is correct as we must maintain separate hello histories for each interface.

That's right.  Sorry for the misunderstanding.